body {
	margin: 0 auto;
	padding: 0;
	background-color: red;
	text-align: center;
}


h1 {
	color: #fff;

}

h2 {
	color: #ffeaa7;
}

p {
	color: #636e72;
}

.container {
	max-width: 300px;
	margin: 0 auto;
}