body {
	margin: 0 auto;
	padding: 0;
	background-color: black;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}


h1 {
	color: #fff;

}

h2 {
	color: #ffeaa7;
}

p {
	color: #636e72;
	font-size: 20px;
}

.container {
	max-width: 300px;
	margin: 0 auto;
}